* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif; 
}

body {
    background-color: #050914; 
    color: #c5c6c7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: radial-gradient(circle at center, #112240 0%, #050914 100%);
}

.container {
    background: rgba(10, 25, 47, 0.85);
    border: 2px solid #00f3ff;
    border-radius: 15px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 20px rgba(0, 243, 255, 0.4), inset 0 0 15px rgba(0, 243, 255, 0.1);
    text-align: center;
}

.logo-container {
    margin-bottom: 30px;
}

.logo {
    width: 120px;
    height: 160px;
    border-radius: 60%;
    border: 3px solid #00f3ff;
    box-shadow: 0 0 25px #00f3ff;
    margin-bottom: 15px;
    object-fit: cover;
    background-color: #112240;
}

h1 {
    color: #00f3ff;
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.6);
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #66fcf1;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

input[type="number"] {
    width: 100%;
    padding: 12px;
    background-color: #0b0c10;
    border: 1px solid #45a29e;
    color: #00f3ff;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s ease;
}

input[type="number"]::placeholder {
    color: #2a4054;
}

input[type="number"]:focus {
    border-color: #00f3ff;
    box-shadow: 0 0 15px rgba(0, 243, 255, 0.6);
}


button {
    background-color: transparent;
    color: #00f3ff;
    border: 2px solid #00f3ff;
    padding: 15px 20px;
    font-size: 1.1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    margin-top: 10px;
    letter-spacing: 2px;
    box-shadow: 0 0 10px rgba(0, 243, 255, 0.2);
}

button:hover {
    background-color: #00f3ff;
    color: #050914;
    box-shadow: 0 0 30px #00f3ff;
    transform: scale(1.02);
}

.resultado {
    margin-top: 25px;
    padding: 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    display: none; 
    font-weight: bold;
    letter-spacing: 1px;
}

.resultado.aprovado {
    display: block;
    background-color: rgba(0, 255, 136, 0.1);
    border: 1px solid #00ff88;
    color: #00ff88;
    text-shadow: 0 0 8px rgba(0, 255, 136, 0.6);
    box-shadow: 0 0 15px rgba(0, 255, 136, 0.3);
}

.resultado.reprovado {
    display: block;
    background-color: rgba(255, 51, 102, 0.1);
    border: 1px solid #ff3366;
    color: #ff3366;
    text-shadow: 0 0 8px rgba(255, 51, 102, 0.6);
    box-shadow: 0 0 15px rgba(255, 51, 102, 0.3);
}